body{
    margin: 0;
    text-align: center;
    font-family:  'Papyrus', fantasy;
   font-size: 150%;
   background-color:  #FFEADD;
}
h1{
font-size: 400%;
    margin:50px auto 0 auto;
 font-family: 'Agdisma',cursive;
    color: #66bfbf;
    line-height: 1;

}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
      color: #66bfbf;
      font-size: 30px;
      padding-bottom: 10px;
      font-size: 300%;

}
h3{
    font-family: 'Agdisma',cursive;
    color: #66bfbf;
    font-size: 150%;


}
p{
    line-height: 2;
}
hr{
    border: dotted  #66bfbf 6px;
    border-bottom: none;
    width: 4%;
}
.top-container{
    background-color: #ffeadd;
  position: relative;
  padding-top: 100px;

}

.pro{
    text-decoration: underline;
}

.skill-row{
    width: 50%;
    margin: 100px; ;
    text-align: left;
    line-height: 2;
  
  
}

.code-skill-description{
    clear:left;

}
.middle-container{
    margin: 100px 0;
}
.intro{
    width: 30%;
    margin: auto;

}
.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.ftbl-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.contact-msg{
    width: 40%;
    margin: 40px auto 60px;

}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.a{
    color: #11999E;
  font-family: serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
    color: #eaf6f6;
}
.copyright{
    color: #eaf6f6;
     font-family:serif;
     font-size: 30px;
     padding: 20px 0;
}
.btn{
    
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        font-family: 'Agdisma',cursive;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
      .btn:hover {
        background: #3ac7b2;
        background-image: -webkit-linear-gradient(top, #3ac7b2, #28bda4);
        background-image: -moz-linear-gradient(top, #3ac7b2, #28bda4);
        background-image: -ms-linear-gradient(top, #3ac7b2, #28bda4);
        background-image: -o-linear-gradient(top, #3ac7b2, #28bda4);
        background-image: linear-gradient(to bottom, #3ac7b2, #28bda4);
        text-decoration: none;
      }

